#userMap {
    width:auto; 
	height: 500px
}

@media only screen and (max-width: 600px) {
  #userMap {
    width:auto; 
	height:300px
  }
}


.bigButton {
		display: block;
		width: 100%;
		font-size: 16px;
		padding: 14px 28px;
		color: blue;
		background-color: #4CAF50;
		cursor: pointer;
  		text-align: center
}
