#userMap {
    width:auto; 
	height: 500px
}

@media only screen and (max-width: 600px) {
  #userMap {
    width:auto; 
	height:300px
  }
}


.bigButton span:first-of-type {
		height: 60% !important;
		width: 100%;
		font-size: 16px;
		padding: 14px 28px;
		background-color: #4CAF50
	}
	.bigButton {
		height: 15vh;
}
