#userMap {
    width:auto; 
	height: 500px
}

@media only screen and (max-width: 600px) {
  #userMap {
    width:auto; 
	height:300px
  }
}

@media (max-width : 860px) {
	.bigButton span:first-of-type {
		height: 60% !important;
		font-size: 60px !important;
		margin-bottom: 80% !important;
		top: 30px ! important;
		left: 5px;
	}
	.bigButton {
		height: 15vh;
	}
}
